* {
  box-sizing: border-box;
}

html {
  background-image: url("https://images.unsplash.com/photo-1673261576426-1b0bea9f661d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  top: 15vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  max-width: 100%;
  text-align: center;
}

pre {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
}

.box_container {
  top: 15px;
}

form {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 1rem;
  max-width: 300px;
  padding: auto;
  text-align: center;
}

input[type="text"] {
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 5px 0 0 5px;
  border: 1px #888 dotted;
  flex-grow: 1;
}

button[type="submit"] {
  background-color: #0080ff;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}

#item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#item-list li {
  display: flex;
  align-items: center;
  max-width: 350px;
  padding: 0.5rem;
  background-color: #e5e4e9;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

#item-list li:last-child {
  margin-bottom: 0;
}

#item-list li .item {
  flex-grow: 1;
  color: #212529;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.strike {
  text-decoration-line: line-through;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#item-list li .delete {
  background-color: #ff0019;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding-top: 0.2rem;

  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  margin-left: 1rem;
}
